body {

    text-align: center;
    background: linear-gradient(
        180deg,
        #061a2b,
        #11416b,
        #1e59a7,
        #061a2b
    );
    max-width: 1200px;
    margin: 0 auto;

}

.title {

    color:white

}

.Giyu {

    width: 360px;

}

.h-abt {

    color:lightblue;

}

.h-p {

    color:aquamarine;

}

.a-h {

    color:white;
    margin-top: 100px;

}

.a-h4 {

    color:lightblue;

}

.b-h {

    color:white;
    margin-top: 50px;

}

.b-li {

    color: aqua;

}

.ap-h {

    color: white;
    margin-top: 50px;

}

.ap-h4 {

    color:rgb(127, 213, 185)

}

.p-h {

    color: white;
    margin-top: 50px;

}

.p-h4 {

    color: rgb(0, 119, 255);

}

.f-h {

    color: white;
    margin-top: 50px;

}

.f-h4 {

    color: red;

}

h4 {

    font-size: 18px;

}

.w-h {

    color: white;
    margin-top: 50px;

}

li {

    width: fit-content;
    margin: 20px auto;
    text-align: left;

}

.n-h {

    color: white;
    margin-top: 50px;

}

.Giyu_Katana {

    width:350px;

}

.ab-li {

    color:rgb(170, 235, 235)

}   

.n-li {

    color:oklch(81.283% 0.13265 194.9)

}

.ab-h {

    color:white;
    margin-top: 50px;

}

.m-h {

    color: white;
    margin-top: 50px;

}

.m-li {

    color: rgb(227, 23, 23)

}

.r-h {

    color: white;
    margin-top: 50px;

}

.r-h3 {

    color:#1e59a7;
    margin-top: 20px;

}

.r-p {

    color:rgb(84, 155, 236)

}

.t-h {

    color: white;
    margin-top: 50px;

}

.t-li {

    color: rgb(58, 58, 255);

}

footer {

    color: white;

}

.back-btn {
    position: fixed;
    top: 20px;
    right: 20px;

    background: rgb(56, 29, 29);
    color: white;
    text-decoration: none;

    padding: 12px 22px;
    border-radius: 12px;

    font-weight: bold;
    transition: 0.3s;
    z-index: 1000;
}